* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #cccccc;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border: 3px solid #aa14f0;
  padding: 10px;
}

.navbar {
  background-color: black;
  font-size: 20px;
}

.corner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.corner-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo img {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 5px;
}

.logo {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 0 7px 2px 0;
}

.primary-icon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.title-content {
  margin: 0 2px 2px;
}

.main-title {
  font-size: 18px;
  display: flex;
  padding-left: 0.19rem;
  margin-top: 6px;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0.19rem;
}

.sub-title {
  font-size: 14px;
  display: flex;
}

.contact-content {
  padding-left: 0.3rem;
}

.instagram {
  height: 20px;
  filter: invert(75%);
}

.youtube {
  height: 20px;
  filter: invert(75%);
}

.vsco {
  height: 20px;
  filter: invert(75%);
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 5px 0 5px;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  color: #585858;
  text-decoration: none;
}

main {
  display: flex;
  margin-top: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

/*
=============================================================================
Home page styles
=============================================================================
*/

.search-wrapper {
  display: flex;
  background: #7e0fb1;
  justify-content: baseline;
  align-items: flex-start;
}

.search-wrapper > .search-item > input, button {
  list-style: none;
  margin: 0 5px 0 5px;
}

.search-wrapper {
  list-style-type: none;
}

.search-wrapper .search-item {
  padding: 0.2em;
}

.searchbutton {
  background-color: #7e0fb1;
  border: 10px;
  color: #000000;
}

.search-button img {
  height: 3em;
  width: 3em;
}

.searchbar {
  background-color: #7e0fb1;
  border: 10px;
}

.searchbar input {
  border: 10px;
}

.search-item .searchbar input {
  border: 10px;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.searchbutton :hover {
  filter: invert(90%);
}

/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(190, 190, 190, 0.8);
}

/* Caption text */
.text {
  color: #353535;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/*
----------------------------------------------------------------------------
----------------------------------------------------------------------------
*/

.artimages {
  display: flex;
  margin-top: auto;
  padding-top: 5em;
  align-items: center;
}

.artimages img {
  height: 15em;
  width: 15em;
}

p {
  margin: 0.5em 0 0.5em 0;
  color: #cccccc;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 10px;
  background-color: #393939;
  color: #9d9d9d;
}

.copyright {
  display: flex;
  align-items: baseline;
}

.github {
  display: block;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

/*
==============================================================
Gallery page styles
==============================================================
*/
.all-images {
  padding: 3em;
}

.art-images {
  height: 100px;
}

/*
==============================================================
About page styles
==============================================================
*/
.about-content {
  padding: 1em 1em 0;
}

h3.about-statement {
  color: #979797;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: start;
}

.about-p {
  padding: 1em;
  width: 95%;
}

.about-p p{
  color: white;
  text-indent: 3.1em;
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  word-spacing: 0.02em;
  width: 100%;
}

article > p {
  padding: 0.1em;
}

p.opening-p#opening-p {
  text-indent: 1em;
}

h4.about-bio {
  color: #979797;
  font-size: 1.3em;
  margin-top: 1em;
}

h5 {
  color: #979797;
  font-size: 1.1em;
  margin: 1em 0 0 1em;
}

nav.about-socials {
  margin: 0.2em 0 0 0.9em;
  position: static;
}

.about-socials img{
  height: 3.1em;
}

.about-socials img:hover {
  filter: invert(100%);
}

.about-socials img:active {
  filter: invert(100%);
}

aside,
article {
  padding: 0.1em;
}

img > aside {
  margin-top: 5em;
  width: "device-width";
  height: "425px";
}

article {
  width: 75%;
}

/*
=======================================================================
Contact page styles
=======================================================================
*/

.contact-container {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  width: 90%;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

form h3 {
  color: #9d9d9d;
  font-weight: 800;
  margin-bottom: 20px;
}

form, .placeholders h4 {
  color: #585858;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 0.5em;
  outline: none;
  background: #cccccc;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-button {
  padding: 15px;
  background: #aa14f0;
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 10px;
}

.submit-button:hover {
  background: #0030ff;
  color: #353535;
}

.submit-button:active {
  background: #0030ff;
  color: #353535;
}

.required-text, .email-check-text {
  color: #9d9d9d;
  display: block;
  font-size: 15px;
}

.required-error, .email-error {
  color: red;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 24px;
  display: none;
}

/*
-----------------------------------------------------------------------
Button properties
-----------------------------------------------------------------------
*/

/*nav styles*/
.nav-list .list-item a:hover {
  color: #dddddd;
  padding: 0px 125px 7px;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.nav-list .list-item a:active {
  color: #dddddd;
  padding: 0px 125px 7px;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.contact-content img:hover {
  filter: invert(100%);
}

.contact-content img:active {
  filter: invert(100%);
}

/*coffee icon button for home*/
.logo img {
  display: block;
}

nav > img {
  margin: 0 5px;
}

.logo img:hover {
  width: 32px;
  height: 32px;
  border: solid #0030ff;
  border-radius: 50%;
}

.logo img:active {
  width: 32px;
  height: 32px;
  border: solid #0030ff;
  border-radius: 50%;
}

/*footer github link styles*/
.circle img:hover {
  filter: invert(85%);
}

.circle img:active {
  filter: invert(85%);
}

.gallery-view {
  display: none;
}

/*
----------------------------------------------------------
Search bar
----------------------------------------------------------
*/
.search-button {
  display: none;
}

.result-image {
  display: none;
}

.menu {
  display: none;
}

/*
----------------------------------------------------------------------
Mobile view styles
----------------------------------------------------------------------
*/
@media only screen and (max-width: 767px) {
  .nav-list .container-icon {
    width: 100%;
  }

  header {
    padding: 5px 0 0;
    border: 3px solid #aa14f0;
  }

  .corner {
    padding-bottom: 5px;
  }

  .corner-content {
    padding-top: 2px;
  }

  .nav-list {
    border: 3px solid #aa14f0;
    border-top: 6px solid #aa14f0;
    padding: 0.5em;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    border-top: 6px;
  }

  /*hamburger styles*/
  .menu {
    display: flex;
    position: fixed;
    right: 10px;
    top: 15px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .menu img {
    filter: invert(75%);
    width: 35px;
    height: 35px;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    padding: 10px;
    border-top: 1px;
  }

  .primary-icon {
    margin-left: 10px;
    margin-top: 10px;
  }

  /*hamburger menu action styles*/
  .menu img:active {
    filter: invert(100%);
  }

  .menu img:hover {
    filter: invert(100%);
  }

  /*
  ===========================================================
  Home page styles (mobile view specific)
  ===========================================================
  */

  /*Hiding gallery and search links for mobile*/
  .home-nav {
    display: none;
  }

  .mobile-buttons-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  /*gallery view button styles*/
  .gallery-view {
    display: flex;
    position: fixed;
    right: 90px;
    top: 15px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .gallery-view img {
    filter: invert(75%);
    width: 35px;
    height: 35px;
  }

  .gallery-view img:active {
    filter: invert(100%);
  }

  .gallery-view img:hover {
    filter: invert(100%);
  }

  /*search styles*/
  .search-wrapper {
    width: 100%;
  }

  .search-button {
    display: flex;
    position: fixed;
    right: 50px;
    top: 15px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .search-button img {
    filter: invert(75%);
    width: 32px;
    height: 32px;
  }

  .search-wrapper {
    display: flex;
    border: 3px solid #aa14f0;
    border-top: 6px solid #aa14f0;
    padding: 0.1em;
  }

  .search-wrapper {
    text-align: center;
    padding-top: 10px;
    /*display: none;*/
  }

  .search-wrapper .search-item {
    /* display: block; */
    border-top: 1px;
  }

  .search-button img:active {
    filter: invert(100%);
  }

  .search-button img:hover {
    filter: invert(100%);
  }

  /*
  ===========================================================
  About page styles (mobile view specific)
  ===========================================================
  */
  aside {
    text-align: center;
  }

  aside img {
    max-width: 80%;
    max-height: 60%;
    width: "device-width";
    height: "425px";
  }

  /*Universal active class functionality (don't touch!)*/
  .active {
    display: block;
  }
}

/*
--------------------------------------------------------------------------------
Computer view styles
--------------------------------------------------------------------------------
*/
@media only screen and (min-width: 768px) {

  header {
    flex-direction: column;
    top: 0;
    left: 0;
    height: 90%;
    width: 30%;
    padding: 0;
    border: 2px solid #aa14f0;
  }

  .title-content {
    margin-top: 2px;
    padding-right: 0.5em;
  }

  .sidebar {
    border: 3px solid #aa14f0;
    border-top: 5px solid #aa14f0;
    height: 100%;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    padding-top: 10px;
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }

  .nav-list .list-item {
    display: block;
    padding: 15px;
    border-top: 1px;
  }

  nav > ul > li {
    list-style: none;
    margin: 0 5px;
  }

  main {
    width: 70%;
    min-height: 85%;
    padding: 0 0 5em;
    margin-top: 0.1em;
    margin-left: 30%;
    top: 0;
    right: 0;
  }

  /*
  ==================================================================
  Home page styles (computer specific)
  ==================================================================
  */

  .home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 35px;
  }

  .home-nav .list-item {
    display: block;
    padding: 15px;
    border-top: 1px;
  }

  .home-nav .list-item a:hover {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .home-nav .list-item a:active {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  /*
  ==========================================================
  About page styles (computer view specific)
  ==========================================================
  */
  .about-content .about-statement {
    padding-top: 0;
  }

  aside.container {
    margin-right: 2%;
  }

  aside.container img {
    max-width: 80%;
    max-height: 60%;
    width: "device-width";
    height: "425px";
  }

  /*nav styles*/
  .nav-list .list-item a:hover {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .nav-list .list-item a:active {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }
}
