* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #cccccc;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border: 3px solid #aa14f0;  
  padding: 10px;
}

.navbar {
  background-color: black;
  font-size: 20px;
}

.corner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.corner-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-title {
  font-size: 18px;
  display: flex;
  padding-left: 0.19rem;
  margin-top: 6px;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0.19rem;
}

.sub-title {
  font-size: 14px;
  display: flex;
}

.primary-icon {
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.contact-content {
  padding-left: 0.3rem;
}

.instagram {
    height: 20px;
    filter: invert(75%);
}

.youtube {
    height: 20px;
    filter: invert(75%);
}

.vsco {
    height: 20px;
    filter: invert(75%);
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 5px 0 5px;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  color: #585858;
  text-decoration: none;
}

main {
  display: flex;
  margin-top: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 85%;
}

/*
-----------------------------------------------------------------------------
Art images slider for home page
-----------------------------------------------------------------------------
*/

/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(190, 190, 190, 0.8);
}

/* Caption text */
.text {
  color: #353535;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/*
----------------------------------------------------------------------------
----------------------------------------------------------------------------
*/

.artimages {
  display: flex;
  margin-top: auto;
  padding-top: 5em;
  align-items: center;
}

.artimages img {
  height: 15em;
  width: 15em;
}

p {
  margin: 0.5em 0 0.5em 0;
  color: #cccccc;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 10px;
  background-color: #393939;
  color: #9D9D9D;
}

.github {
    height: 40px;
    background-color: white;
    border-radius: 20px;
}

aside,
article {
  padding: 1em;
}

aside {
  text-align: center;
}

img > aside {
    margin-top: 5em;
}

article {
  width: 75%;
}

h1 {
  font-size: 3em;
  margin-top: 0.5em;
}

/*
-----------------------------------------------------------------------
Button properties
-----------------------------------------------------------------------
*/

/*nav styles*/
.nav-list .list-item a:hover {
  color: #dddddd;
  padding: 0px 125px 7px;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.nav-list .list-item a:active {
  color: #dddddd;
  padding: 0px 125px 7px;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.contact-content img:hover {
  filter: invert(100%);
}

.contact-content img:active {
  filter: invert(100%);
}

.logo img:hover {
  width: 32px;
  height: 32px;
  border: 2px solid #0030ff;
  border-radius: 50%;
}

.logo img:active {
  width: 32px;
  height: 32px;
  border: 2px solid #0030ff;
  border-radius: 50%;
}

/*footer github link styles*/
.circle img:hover {
  width: 40px;
  height: 40px;
  border: 2px solid #0030ff;
  border-radius: 50%;
}

.circle img:active {
  width: 40px;
  height: 40px;
  border: 2px solid #0030ff;
  border-radius: 50%;
}

.menu {
  display: none;
}

@media only screen and (max-width: 755px) {
  .nav-list .container-icon {
    width: 100%;  
  }

  header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .nav-list {
    border: 3px solid #aa14f0;
    padding: 0.5em;  
  }

  .navbar {
    flex-direction: column;
    position: relative;
  }

  .menu {
    display: flex;
    position: fixed;
    right: 15px;
    top: 15px;
  }

  button {
    background-color: #000000;
  }

  button img {
    filter: invert(75%);
    width: 32px;
    height: 32px;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    padding: 10px;
    border-top: 1px;
  }

  .primary-icon {
    margin-left: 10px;
    margin-top: 10px;
  }

  button img:active{
    filter: invert(100%);
  }

  button img:hover{
    filter: invert(100%);
  }

  .active {
    display: block;
  }
}

@media only screen and (min-width: 756px) {
  header {
    flex-direction: column;
  }

  .corner {
    padding: 10px;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
    justify-content: space-between;
    align-items: start; 
    background-color: black;
  }

  .nav-list {
    display: flex;
    padding: 10px;
    flex-direction: column;  
  }

  main {
    display: flex;
  }

  aside {
    margin-right: 2%;
  }

  /*need to edit these styles! 
  look up how to create a sidebar nav for computer view*/
    /*nav styles*/
  .nav-list .list-item a:hover {
    color: #dddddd;
    padding: 0px 125px 0px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .nav-list .list-item a:active {
    color: #dddddd;
    padding: 0px 125px 7px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .columns-desktop {
    display: flex;
  }
}
