* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #cccccc;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border: 0.2rem solid #aa14f0;
  padding: 0.6rem;
}

.navbar {
  background-color: black;
  font-size: 1rem;
}

.corner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.corner-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo img {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  margin: 0.3rem;
}

.logo {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid transparent;
  border-radius: 50%;
  margin: 0 0.4rem 0.2rem 0;
}

.primary-icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  border-radius: 50%;
}

.title-content {
  margin: 0 0.1rem 0.1rem;
}

.main-title {
  font-size: 1.1rem;
  display: flex;
  padding-left: 0.19rem;
  margin-top: 0.4rem;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0.19rem;
}

.sub-title {
  font-size: 0.9rem;
  display: flex;
}

.contact-content {
  padding-left: 0.3rem;
}

.instagram {
  height: 1.4rem;
  width: 1.4rem;
  filter: invert(75%);
}

.youtube {
  height: 1.4rem;
  width: 1.4rem;
  filter: invert(75%);
}

.vsco {
  height: 1.3rem;
  width: 1.3rem;
  filter: invert(75%);
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 0.3rem 0 0.3rem;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  padding: 1.3rem 0.6rem;
}

.navbar a {
  color: #585858;
  text-decoration: none;
}

main {
  display: flex;
  margin-top: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  min-height: 85%;
  overflow: hidden;
}

/*
=============================================================================
Home page styles
=============================================================================
*/
div#home-content.home-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  width: 100%;
  background: #df9ffd;
  border: 0.2rem solid #aa14f0;
  position: fixed;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*searchbar styles*/
#search-wrapper {
  display: flex;
  background: #7e0fb1;
  justify-content: baseline;
  align-items: flex-start;
  width: 100%;
}

#search-wrapper > .search-item > input,
button {
  list-style: none;
  margin: 0 0.3rem 0 0.3rem;
}

#search-wrapper {
  list-style-type: none;
}

#search-wrapper .search-item {
  padding: 0.2rem;
}

.searchbutton {
  background-color: #7e0fb1;
  border: 10px;
  color: #000000;
}

.search-button img {
  height: 3rem;
  width: 3rem;
}

.searchbar {
  background-color: #7e0fb1;
  border: 0.6rem;
  width: 100%;
}

.search-item input.searchbar {
  border: 0.6rem;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/*active and hover for search button*/
.searchbutton :hover {
  filter: invert(90%);
}

.searchbutton :active {
  filter: invert(90%);
}

/*using my own x for reseting search bar*/
.search-item input.searchbar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 1.3rem;
    width: 1.3rem;
    background-image: url("../icons/icons8-x-48.webp");
}

.search-item input.searchbar::-webkit-search-cancel-button:hover {
    background-image: url("../icons/icons8-x-48.webp");
    filter: invert(90%);
}

.search-item input.searchbar::-webkit-search-cancel-button:active {
    background-image: url("../icons/icons8-x-48.webp");
    filter: invert(90%);
}

/*search result styles*/
div#result.search-item {
  padding: 0.5rem;
}

img#result-image.result-image {
  padding: 0.1rem;
}

#result-artname-text,
#result-size-text,
#result-type-of-art-text,
#result-date-text,
#result-listened-to-text,
#result-series-text {
  color: #313131;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.1rem 0.5rem;
  bottom: 0.1rem;
  width: 100%;
}

#result-artname-text {
  font-size: 0.9rem;
  font-weight: 700;
}

/* Caption text */
.art-name-text,
.size-text,
.type-of-art-text,
.date-created-text,
.listened-to-text,
.series-text {
  color: #949494;
  font-size: 0.9rem;
  padding: 0.1rem 0.5rem;
  bottom: 0.1rem;
  width: 100%;
}

.art-name-text {
  font-size: 1rem;
  font-weight: 600;
}

/*
----------------------------------------------------------------------------
----------------------------------------------------------------------------
*/

.artimages {
  display: flex;
  margin-top: auto;
  padding-top: 5rem;
  align-items: center;
}

.artimages img {
  height: 15rem;
  width: 15rem;
}

p {
  margin: 0.5rem 0 0.5rem 0;
  color: #cccccc;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 0.6rem;
  background-color: #393939;
  color: #9d9d9d;
}

.copyright {
  display: flex;
  align-items: baseline;
}

.github {
  display: block;
  height: 1.9rem;
  background-color: white;
  border-radius: 50%;
}

/*
==============================================================
Gallery page styles
==============================================================
*/
.all-images {
  margin-top: 3rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#image-wrapper.image-wrapper {
  margin: 1rem;
  align-items: center;
}

.art-images {
  height: 10rem;
}

/*
==============================================================
About page styles
==============================================================
*/
.about-content {
  padding: 1rem 1rem 4rem;
}

h3.about-statement {
  color: #979797;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: start;
}

.about-p {
  padding: 1rem;
  width: 95%;
}

.about-p p {
  color: white;
  text-indent: 3.1rem;
  text-align: left;
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
  word-spacing: 0.02rem;
  width: 100%;
}

article > p {
  padding: 0.1rem;
}

p.opening-p#opening-p {
  text-indent: 1rem;
}

h4.about-bio {
  color: #979797;
  font-size: 1.3em;
  margin-top: 1rem;
}

h5 {
  color: #979797;
  font-size: 1.1rem;
  margin: 1rem 0 0 1rem;
}

nav.about-socials {
  margin: 0.2rem 0 0 0.9rem;
  position: static;
}

.about-socials img {
  height: 3.1rem;
  width: 3rem;
}

nav.about-socials img.instagram,
nav.about-socials img.youtube {
  height: 3.5rem;
  width: 3.5rem;
}

.about-socials img:hover {
  filter: invert(100%);
}

.about-socials img:active {
  filter: invert(100%);
}

aside,
article {
  padding: 0.1rem;
}

img > aside {
  margin-top: 5rem;
  width: "device-width";
  height: "425px";
}

article {
  width: 75%;
}

/*
=======================================================================
Contact page styles
=======================================================================
*/

.contact-container {
  padding: 0.1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 4rem;
  width: 90%;
  max-width: 37.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

form h3 {
  color: #9d9d9d;
  font-weight: 800;
  margin-bottom: 1.3rem;
}

div.email-input,
div.subject-input,
div.message-input {
  padding-top: 1.5rem;
}

div.input-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

div.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

label.placeholders {
  color: #797979;
  font-weight: bold;
  padding-right: 0.5rem;
}

form input,
form textarea {
  border: 0.3rem solid #393939;
  border-radius: 0.94rem;
  margin: 0.6rem 0;
  padding: 0.5rem;
  outline: none;
  background: #cccccc;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

form textarea {
  height: 10rem;
  width: 20rem;
}

form input:focus:required,
form textarea:focus:required {
  border: 0.3rem solid #7e0fb1;
  border-radius: 0.94rem;
  background: #cccccc;
}

form div img {
  filter: invert(100%);
  padding: 0.5rem 0 0 0.5rem;
  display: none;
}

.submit-button {
  padding: 0.9rem;
  background: #aa14f0;
  color: #181818;
  font-size: 1.1rem;
  font-weight: 600;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 9.3rem;
  margin: 1.3rem auto 0;
  border-radius: 0.6rem;
}

.submit-button:hover {
  background: #0030ff;
  color: #c2bfbf;
}

.submit-button:active {
  background: #0030ff;
  color: #c2bfbf;
}

.required-text,
.email-check-text,
.message-length-error {
  color: #9d9d9d;
  display: block;
  font-size: 0.9rem;
}

.required-error,
.email-error {
  color: red;
  font-size: 1rem;
  letter-spacing: 0.063rem;
  margin-bottom: 0.1rem;
  display: none;
}

/*
-----------------------------------------------------------------------
Button properties
-----------------------------------------------------------------------
*/
/*hamburger styles*/
  .menu {
    display: flex;
    position: fixed;
    right: 0.6rem;
    top: 0.9rem;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .menu img {
    filter: invert(75%);
    width: 2.2rem;
    height: 2.2rem;
  }

  /*hamburger menu action styles*/
  .menu img:active {
    filter: invert(100%);
  }

  .menu img:hover {
    filter: invert(100%);
  }

/*nav styles*/
.nav-list .list-item a:hover {
  color: #dddddd;
  padding: 0 5.6rem 0.4rem;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.nav-list .list-item a:active {
  color: #dddddd;
  padding: 0 5.6rem 0.4rem;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.contact-content img:hover {
  filter: invert(100%);
}

.contact-content img:active {
  filter: invert(100%);
}

/*coffee icon button for home*/
.logo img {
  display: block;
}

nav > img {
  margin: 0 0.3rem;
}

.logo img:hover {
  width: 2rem;
  height: 2rem;
  border: solid #0030ff;
  border-radius: 50%;
}

.logo img:active {
  width: 2rem;
  height: 2rem;
  border: solid #0030ff;
  border-radius: 50%;
}

/*footer github link styles*/
.circle img:hover {
  filter: invert(85%);
}

.circle img:active {
  filter: invert(85%);
}

.gallery-view {
  display: none;
}

.search-button {
  display: none;
}

.search {
  display: none;
}

.result-image {
  display: none;
}

/*Universal active class functionality (don't touch!)*/
.active {
  display: block;
}

/*
----------------------------------------------------------------------
Mobile view styles
----------------------------------------------------------------------
*/
@media only screen and (max-width: 767px) {
  .nav-list .container-icon {
    width: 100%;
  }

  header {
    padding: 0.3rem 0 0;
    border: 0.2rem solid #aa14f0;
  }

  .corner {
    padding-bottom: 0.3rem;
  }

  .corner-content {
    padding-top: 0.1rem;
  }

  .nav-list {
    border: 0.2rem solid #aa14f0;
    border-top: 0.4rem solid #aa14f0;
    padding: 0.5rem;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    border-top: 0.4rem;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding-top: 0.6rem;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    padding: 0.6rem;
    border-top: 0.1rem;
  }

  .primary-icon {
    margin-left: 0.6rem;
    margin-top: 0.6rem;
  }

  /*
  ===========================================================
  Home page styles (mobile view specific)
  ===========================================================
  */

  /*Hiding gallery and search links for mobile*/
  .home-list-item {
    display: none;
  }

  .mobile-buttons-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .home-main {
    padding-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /*search styles*/

  div#search.search {
    margin-top: 4rem;
  }

  #search-wrapper {
    width: auto;
  }

  .search-button {
    display: flex;
    position: fixed;
    right: 3.1rem;
    top: 0.9rem;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .search-button img {
    filter: invert(75%);
    width: 2rem;
    height: 2rem;
  }

  #search-wrapper {
    padding: 0.5rem;
    border: 0.3rem solid #aa14f0;
  }

  #searchform.search-item {
    width: 100%;
    padding: 0.3rem;
  }

  input#searchbar.searchbar {
    width: 100%;
    padding: 0 0.4rem;
    margin-left: 0;
  }

  .searchbutton {
    padding: 0;
    margin-right: 0.05;
  }

  #search-wrapper {
    display: flex;
    border: 0.2rem solid #aa14f0;
    border-top: 0.4rem solid #aa14f0;
    padding: 0.1rem;
  }

  #search-wrapper {
    text-align: center;
    padding-top: 0.6rem;
  }

  div#search-wrapper {
    width: auto;
  }

  #search-wrapper .search-item {
    border-top: 0.1rem;
  }

  .slideshow-container {
    display: none;
  }

  .mobile-image-scroll {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
  }

  #scroll-image-wrapper.image-wrapper {
    padding: 1rem;
  }

  #scroll-image {
    width: 16rem;
    height: auto;
  }

  /*image scroll styles*/
  #scroll-art-name-text,
  #scroll-size-text,
  #scroll-type-of-art-text,
  #scroll-date-created-text,
  #scroll-listened-to-text,
  #scroll-series-text {
    font-size: 1rem;
  }

  h5#scroll-art-name-text {
    margin-left: 0;
    font-size: 1rem;
  }

  /*gallery view*/
  .all-images {
    align-items: flex-start;
    margin-top: 0;
    padding: 1rem;
  }

  #gallery-art-name-text,
  #gallery-size-text,
  #gallery-type-of-art-text,
  #gallery-date-created-text,
  #gallery-listened-to-text,
  #gallery-series-text {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.05rem 0.2rem;
    letter-spacing: 0.05rem;
  }

  #gallery-art-image {
    height: 5rem;
    width: auto;
  }

  #gallery-art-name-text {
    font-weight: 900;
  }

  /*mobile buttons*/

  /*gallery view button styles*/
  .gallery-view {
    display: flex;
    position: fixed;
    right: 5.6rem;
    top: 0.9rem;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .gallery-view img {
    filter: invert(75%);
    width: 2.2rem;
    height: 2.2rem;
  }

  .gallery-view img:active {
    filter: invert(100%);
  }

  .gallery-view img:hover {
    filter: invert(100%);
  }

  .search-button img:active {
    filter: invert(100%);
  }

  .search-button img:hover {
    filter: invert(100%);
  }

  /*
  ===========================================================
  About page styles (mobile view specific)
  ===========================================================
  */
  .about-statement{
    font-size: 1.2rem;
  } 
  
  .about-bio {
    font-size: 1rem;
  }

  .about-p {
    font-size: 0.8rem;
  }

  aside {
    text-align: center;
  }

  aside img {
    max-width: 80%;
    max-height: 60%;
    width: "device-width";
    height: "26.6rem";
  }

  /*
  ============================================================
  Contact page styles (mobile view specific)
  ============================================================
  */
  form#contact-form {
    padding: 2rem 0;
  }

  p.email-check-text, p.email-error, p.message-length-error {
    font-size: 0.8rem;
  }

  textarea#message {
    width: 16rem;
  }

  /*Universal active class functionality (don't touch!)*/
  .active {
    display: block;
  }
}

/*
--------------------------------------------------------------------------------
Computer view styles
--------------------------------------------------------------------------------
*/
@media only screen and (min-width: 768px) {
  header {
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    border: 0;
    background: transparent;
  }

  .corner {
    background: transparent;
  }

  .corner-content {
    border: 0.1rem solid #aa14f0;
    background: #000000;
  }

  .title-content {
    margin-top: 0.1rem;
    padding-right: 0.5rem;
  }

  .navbar {
    border-top: 0.3rem;
    margin-left: 53.7rem;
    position: relative;
    flex-direction: column;
    background-color: transparent;
    height: 25rem;
    width: 10rem;
  }

  .nav-list {
    text-align: center;
    width: 100%;
    padding-top: 0.5rem;
    background: #000000;
    border: 0.2rem solid #aa14f0;
    border-top: 0.3rem solid #aa14f0;
    margin-bottom: 1rem;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    padding: 0.9rem; 
    border-top: 0.1rem; 
  }

  nav > ul > li {
    list-style: none;
    margin: 0 0.5rem;
  }

  main {
    width: 70%;
    margin-left: 14rem;
    padding: 3rem 0 5rem;
    top: 0;
    right: 0;
    margin-top: auto;
    min-height: 50%;
    max-height: fit-content;
  }

  /*
  ==================================================================
  Home page styles (computer specific)
  ==================================================================
  */

  .mobile-image-scroll {
    display: none;
  }

  .nav-list #gallery-computer.home-list-item {
    border-top: 0.3rem solid #aa14f0;
  }

  .nav-list .home-list-item {
    display: block;
    padding-top: 0.5rem;
    padding: 0.9rem;
    border-top: 0.1rem;
  }

  .nav-list #search-computer.home-list-item p{
    padding: 0; 
    margin: 0;
    display: block;
  }

  .nav-list .home-list-item a:hover {
    color: #dddddd;
    padding: 0 1.1rem 0.1rem;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .nav-list .home-list-item a:active {
    color: #dddddd;
    padding: 0 1.1rem 0.1rem;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .home-content {
    width: 100%;
  }

  .home-main {
    width: auto;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 6rem;
  }

  /*search styles*/ 
  div#search.search {
    margin-left: 0.2rem;
    width: 90%;
  }

  .search-button img {
    height: 4rem;
    width: 4rem;
  }

  div#search-wrapper {
    padding: 0.3rem;
    border: 0.3rem solid #aa14f0;
    width: auto;
    padding-top: 0.6rem;
  }

  div#searchform.search-item {
    width: 100%;
  }

  input#searchbar.searchbar {
    width: 75%;
    padding: 0 0.4rem;
    margin-left: 0;
  }

  .searchbutton {
    padding: 0;
    margin-right: 0.05;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    margin: 0.5rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    padding-top: 5rem;
    height: auto;
  }

  .mySlides {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    text-align: center;
  }

  #scroll-image-wrapper.image-wrapper {
    padding: 0.5rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #slide-image {
    max-width: 24rem;
    height: 20rem;
  }

  div.slide-description {
    padding-top: 2rem;
    text-align: center
  }

  #art-name-text, 
  #size-text, 
  #type-of-art-text, 
  #date-created-text, 
  #listened-to-text, 
  #series-text {
    text-align: left;
  } 

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .slideButton#next, .slideButton#prev {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -1.4rem;
    padding: 0.5rem;
    color: rgb(68, 68, 68);
    background-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border: 0;
    border-radius: 0 0.2rem 0.2rem 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .slideButton#next {
    right: 0;
    border-radius: 0.2rem 0 0 0.2rem;
  }

  /* On hover, add a black background color with a little bit see-through */
  .slideButton#prev#prev:hover,
  .slideButton#next#next:hover {
    color: rgba(190, 190, 190, 0.8);
  }

  /* Number text (1/12 etc) */
  .numbertext {
    color: #979797;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    top: 0;
  }

  /*home button styles*/
  button.search-word-button {
    padding-right: 1.2rem;
    border: 0.6rem;
    width: 100%;
    color: #585858;
    background: #000000;
  }

  button.search-word-button p {
    font-size: 1.5rem;
    color: #585858;
  }

  button.search-word-button p:hover {
    color: #dddddd;
    padding: 0 1.1rem 0.1rem;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  button.search-word-button p:active {
    color: #dddddd;
    padding: 0 1.1rem 0.1rem;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  /*
  ==========================================================
  Gallery page styles (computer view specific)
  ==========================================================
  */
  div.all-images {
    margin-top: 0;
    padding-bottom: 3rem;
  }

  /*
  ==========================================================
  About page styles (computer view specific)
  ==========================================================
  */

  .about-content .about-statement {
    padding-top: 0;
  }

  aside.container {
    margin-right: 2%;
  }

  aside.container img {
    max-width: 80%;
    max-height: 60%;
    width: "device-width";
    height: "26.6rem";
  }

  /*nav styles*/
  .nav-list .list-item a:hover {
    color: #dddddd;
    padding: 0 1.1rem 0.1rem;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .nav-list .list-item a:active {
    color: #dddddd;
    padding: 0 1.1rem 0.1rem;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  /*Universal active class functionality (don't touch!)*/
  .active {
    display: block;
  }
}

/*
=========================================================================
Tablet styles
=========================================================================
*/
@media only screen and (min-height: 1024px) {
  /*
  =========================================================
  home page (tablet view specific styles)
  ========================================================
  */

  .home-main {
    padding-bottom: 40rem;
  }

  /*
  =========================================================
  Contact page (tablet view specific styles)
  ========================================================
  */
  .contact-main {
    padding-bottom: 23rem;
  }
}

@media all and (min-width:960px) and (max-width: 1024px) {
  
}

@media all and (min-width:801px) and (max-width: 959px) {
  
}

@media all and (min-width:769px) and (max-width: 800px) {
  
}

@media all and (min-width:569px) and (max-width: 768px) {
  
}

@media all and (min-width:481px) and (max-width: 568px) {
  
}

@media all and (min-width:321px) and (max-width: 480px) {
  
}

/*
========================================================
Very thin devices' (like the galaxy fold) styles
========================================================
*/

@media all and (min-width: 0px) and (max-width: 320px) {
  h1.main-title {
    font-size: 1.9rem;
  }

  h2.sub-title {
    font-size: 0.8rem;
  }

  img.instagram, img.youtube {
    width: 1.1rem;
    height: 1.1rem;
  }

  img.vsco {
    width: 1.9rem;
    height: 1.9rem;
  }

  div.mobile-buttons-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-end;
  }

  .mobile-buttons-nav button {
    padding: 0;
    margin: 0;
  }

  .mobile-buttons-nav button img {
    height: 1.6rem;
    width: 1.6rem;
  }
  
}