* {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #cccccc;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  border: 3px solid #aa14f0;
  padding: 10px;
}

.navbar {
  background-color: black;
  font-size: 20px;
}

.corner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.corner-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo img {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 5px;
}

.logo {
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 0 7px 2px 0;
}

.primary-icon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.title-content {
  margin: 0 2px 2px;
}

.main-title {
  font-size: 18px;
  display: flex;
  padding-left: 0.19rem;
  margin-top: 6px;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0.19rem;
}

.sub-title {
  font-size: 14px;
  display: flex;
}

.contact-content {
  padding-left: 0.3rem;
}

.instagram {
  height: 20px;
  filter: invert(75%);
}

.youtube {
  height: 20px;
  filter: invert(75%);
}

.vsco {
  height: 20px;
  filter: invert(75%);
}

nav > ul {
  display: inline;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 5px 0 5px;
}

.nav-list {
  list-style-type: none;
}

.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
}

.navbar a {
  color: #585858;
  text-decoration: none;
}

main {
  display: flex;
  margin-top: auto;
  padding-top: 5em;
  padding-bottom: 3em;
  min-height: 85%;
  overflow: hidden;
}

/*
=============================================================================
Home page styles
=============================================================================
*/
div#home-content.home-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  width: 100%;
  background: #df9ffd;
  border: 0.2em solid #aa14f0;
  position: fixed;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*searchbar styles*/
#search-wrapper {
  display: flex;
  background: #7e0fb1;
  justify-content: baseline;
  align-items: flex-start;
  width: 100%;
}

#search-wrapper > .search-item > input,
button {
  list-style: none;
  margin: 0 5px 0 5px;
}

#search-wrapper {
  list-style-type: none;
}

#search-wrapper .search-item {
  padding: 0.2em;
}

.searchbutton {
  background-color: #7e0fb1;
  border: 10px;
  color: #000000;
}

.search-button img {
  height: 3em;
  width: 3em;
}

.searchbar {
  background-color: #7e0fb1;
  border: 10px;
  width: 100%;
}

.searchbar input {
  border: 10px;
  width: 100%;
}

.search-item .searchbar input {
  border: 10px;
  padding: 0.5em;
  outline: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.searchbutton :hover {
  filter: invert(90%);
}

/*search result styles*/
div#result.search-item {
  padding: 0.5em;
}

img#result-image.result-image {
  padding: 0.1em;
}

#result-artname-text,
#result-size-text,
#result-type-of-art-text,
#result-date-text,
#result-listened-to-text,
#result-series-text {
  color: #313131;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.1em 0.5em;
  bottom: 0.1em;
  width: 100%;
}

/* Caption text */
#artname-text,
#size-text,
#type-of-art-text,
#date-text,
#listened-to-text,
#series-text {
  color: #585858;
  font-size: 0.9em;
  padding: 0.1em 0.5em;
  bottom: 0.1em;
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  margin: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 1em;
}

.mySlides {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(68, 68, 68);
  background-color: #000000;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border: 0px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: rgba(190, 190, 190, 0.8);
}

/* Caption text */
#art-name-text,
#size-text,
#type-of-art-text,
#date-created-text,
#listened-to-text,
#series-text {
  color: #585858;
  font-size: 0.9em;
  padding: 0.1em 0.5em;
  bottom: 0.1em;
  width: 100%;
}

.art-name-text,
.size-text,
.type-of-art-text,
.date-created-text,
.listened-to-text,
.series-text {
  color: #585858;
  font-size: 0.9em;
  padding: 0.1em 0.5em;
  bottom: 0.1em;
  width: 100%;
}

/* Number text (1/12 etc) */
.numbertext {
  color: #979797;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/*
----------------------------------------------------------------------------
----------------------------------------------------------------------------
*/

.artimages {
  display: flex;
  margin-top: auto;
  padding-top: 5em;
  align-items: center;
}

.artimages img {
  height: 15em;
  width: 15em;
}

p {
  margin: 0.5em 0 0.5em 0;
  color: #cccccc;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 10px;
  background-color: #393939;
  color: #9d9d9d;
}

.copyright {
  display: flex;
  align-items: baseline;
}

.github {
  display: block;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

/*
==============================================================
Gallery page styles
==============================================================
*/
.all-images {
  margin-top: 3em;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#image-wrapper.image-wrapper {
  margin: 1em;
  align-items: center;
}

.art-images {
  height: 10em;
}

/*
==============================================================
About page styles
==============================================================
*/
.about-content {
  padding: 1em 1em 4em;
}

h3.about-statement {
  color: #979797;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: start;
}

.about-p {
  padding: 1em;
  width: 95%;
}

.about-p p {
  color: white;
  text-indent: 3.1em;
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  word-spacing: 0.02em;
  width: 100%;
}

article > p {
  padding: 0.1em;
}

p.opening-p#opening-p {
  text-indent: 1em;
}

h4.about-bio {
  color: #979797;
  font-size: 1.3em;
  margin-top: 1em;
}

h5 {
  color: #979797;
  font-size: 1.1em;
  margin: 1em 0 0 1em;
}

nav.about-socials {
  margin: 0.2em 0 0 0.9em;
  position: static;
}

.about-socials img {
  height: 3.1em;
}

.about-socials img:hover {
  filter: invert(100%);
}

.about-socials img:active {
  filter: invert(100%);
}

aside,
article {
  padding: 0.1em;
}

img > aside {
  margin-top: 5em;
  width: "device-width";
  height: "425px";
}

article {
  width: 75%;
}

/*
=======================================================================
Contact page styles
=======================================================================
*/

.contact-container {
  padding: 0.1em;
  display: flex;
  align-content: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em 4em 4em;
  width: 90%;
  max-width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

form h3 {
  color: #9d9d9d;
  font-weight: 800;
  margin-bottom: 20px;
}

div.email-input,
div.subject-input,
div.message-input {
  padding-top: 1.5em;
}

div.input-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

div.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

label.placeholders {
  color: #797979;
  font-weight: bold;
  padding-right: 0.5em;
}

form input,
form textarea {
  border: 0.3em solid #393939;
  border-radius: 0.94em;
  margin: 10px 0;
  padding: 0.5em;
  outline: none;
  background: #cccccc;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

form textarea {
  height: 10em;
  width: 20em;
}

form input:focus:required,
form textarea:focus:required {
  border: 0.3em solid #7e0fb1;
  border-radius: 0.94em;
  background: #cccccc;
}

form div img {
  filter: invert(100%);
  padding: 0.5em 0 0 0.5em;
  display: none;
}

.submit-button {
  padding: 15px;
  background: #aa14f0;
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 10px;
}

.submit-button:hover {
  background: #0030ff;
  color: #353535;
}

.submit-button:active {
  background: #0030ff;
  color: #353535;
}

.required-text,
.email-check-text,
.message-length-error {
  color: #9d9d9d;
  display: block;
  font-size: 15px;
}

.required-error,
.email-error {
  color: red;
  font-size: 16px;
  letter-spacing: 0.063em;
  margin-bottom: 0.1em;
  display: none;
}

/*
-----------------------------------------------------------------------
Button properties
-----------------------------------------------------------------------
*/

/*nav styles*/
.nav-list .list-item a:hover {
  color: #dddddd;
  padding: 0px 125px 7px;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.nav-list .list-item a:active {
  color: #dddddd;
  padding: 0px 125px 7px;
  border-bottom: 0.5rem solid #0030ff;
  border-radius: 10%;
}

.contact-content img:hover {
  filter: invert(100%);
}

.contact-content img:active {
  filter: invert(100%);
}

/*coffee icon button for home*/
.logo img {
  display: block;
}

nav > img {
  margin: 0 5px;
}

.logo img:hover {
  width: 32px;
  height: 32px;
  border: solid #0030ff;
  border-radius: 50%;
}

.logo img:active {
  width: 32px;
  height: 32px;
  border: solid #0030ff;
  border-radius: 50%;
}

/*footer github link styles*/
.circle img:hover {
  filter: invert(85%);
}

.circle img:active {
  filter: invert(85%);
}

.gallery-view {
  display: none;
}

.search-button {
  display: none;
}

.search {
  display: none;
}

.result-image {
  display: none;
}

.menu {
  display: none;
}

/*Universal active class functionality (don't touch!)*/
.active {
  display: block;
}

/*
----------------------------------------------------------------------
Mobile view styles
----------------------------------------------------------------------
*/
@media only screen and (max-width: 767px) {
  .nav-list .container-icon {
    width: 100%;
  }

  header {
    padding: 5px 0 0;
    border: 3px solid #aa14f0;
  }

  .corner {
    padding-bottom: 5px;
  }

  .corner-content {
    padding-top: 2px;
  }

  .nav-list {
    border: 3px solid #aa14f0;
    border-top: 6px solid #aa14f0;
    padding: 0.5em;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    border-top: 6px;
  }

  /*hamburger styles*/
  .menu {
    display: flex;
    position: fixed;
    right: 10px;
    top: 15px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .menu img {
    filter: invert(75%);
    width: 35px;
    height: 35px;
  }

  .nav-list {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }

  .nav-list .list-item {
    display: block;
    padding: 10px;
    border-top: 1px;
  }

  .primary-icon {
    margin-left: 10px;
    margin-top: 10px;
  }

  /*hamburger menu action styles*/
  .menu img:active {
    filter: invert(100%);
  }

  .menu img:hover {
    filter: invert(100%);
  }

  /*
  ===========================================================
  Home page styles (mobile view specific)
  ===========================================================
  */

  /*Hiding gallery and search links for mobile*/
  .home-nav {
    display: none;
  }

  .mobile-buttons-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .home-main {
    padding-top: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /*search styles*/

  div#search.search {
    margin-top: 4em;
  }

  #search-wrapper {
    width: auto;
  }

  .search-button {
    display: flex;
    position: fixed;
    right: 50px;
    top: 15px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .search-button img {
    filter: invert(75%);
    width: 32px;
    height: 32px;
  }

  #search-wrapper {
    padding: 0.5em;
    border: 0.3em solid #aa14f0;
  }

  #searchform.search-item {
    width: 100%;
    padding: 0.3em;
  }

  input#searchbar.searchbar {
    width: 100%;
    padding: 0 0.4em;
    margin-left: 0;
  }

  .searchbutton {
    padding: 0;
    margin-right: 0.05;
  }

  #search-wrapper {
    display: flex;
    border: 3px solid #aa14f0;
    border-top: 6px solid #aa14f0;
    padding: 0.1em;
  }

  #search-wrapper {
    text-align: center;
    padding-top: 10px;
  }

  div#search-wrapper {
    width: auto;
  }

  #search-wrapper .search-item {
    border-top: 1px;
  }

  .slideshow-container {
    display: none;
  }

  .mobile-image-scroll {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    align-items: center;
  }

  #scroll-image-wrapper.image-wrapper {
    padding: 1em;
  }

  #scroll-image {
    width: 25em;
    height: auto;
  }

  /*image scroll styles*/
  #scroll-art-name-text,
  #scroll-size-text,
  #scroll-type-of-art-text,
  #scroll-date-created-text,
  #scroll-listened-to-text,
  #scroll-series-text {
    color: #585858;
    font-size: 0.9em;
    padding: 0.1em 0.5em;
    bottom: 0.1em;
    width: 100%;
  }

  h5#scroll-art-name-text {
    margin-left: 0;
    font-size: 1em;
  }

  /*gallery view*/
  .all-images {
    align-items: flex-start;
  }

  .art-images {
    height: 6em;
  }

  #gallery-art-name-text,
  #gallery-size-text,
  #gallery-type-of-art-text,
  #gallery-date-created-text,
  #gallery-listened-to-text,
  #gallery-series-text {
    color: #585858;
    font-size: 0.5em;
    font-weight: 700;
    padding: 0.05em 0.2em;
    bottom: 0.05em;
    letter-spacing: 0.05em;
    width: 100%;
  }

  #gallery-art-name-text {
    font-weight: 900;
  }

  /*mobile buttons*/

  /*gallery view button styles*/
  .gallery-view {
    display: flex;
    position: fixed;
    right: 90px;
    top: 15px;
    background-color: #000000;
    outline: none;
    cursor: pointer;
    border: 0;
  }

  .gallery-view img {
    filter: invert(75%);
    width: 35px;
    height: 35px;
  }

  .gallery-view img:active {
    filter: invert(100%);
  }

  .gallery-view img:hover {
    filter: invert(100%);
  }

  .search-button img:active {
    filter: invert(100%);
  }

  .search-button img:hover {
    filter: invert(100%);
  }

  /*
  ===========================================================
  About page styles (mobile view specific)
  ===========================================================
  */
  aside {
    text-align: center;
  }

  aside img {
    max-width: 80%;
    max-height: 60%;
    width: "device-width";
    height: "425px";
  }

  /*Universal active class functionality (don't touch!)*/
  .active {
    display: block;
  }
}

/*
--------------------------------------------------------------------------------
Computer view styles
--------------------------------------------------------------------------------
*/
@media only screen and (min-width: 768px) {
  header {
    flex-direction: column;
    top: 0;
    left: 0;
    height: 90%;
    width: 30%;
    padding: 0;
    border: 2px solid #aa14f0;
  }

  .title-content {
    margin-top: 2px;
    padding-right: 0.5em;
  }

  .sidebar {
    border: 3px solid #aa14f0;
    border-top: 5px solid #aa14f0;
    height: 100%;
  }

  .navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }

  .nav-list .list-item {
    display: block;
    padding: 15px;
    border-top: 1px;
  }

  nav > ul > li {
    list-style: none;
    margin: 0 5px;
  }

  main {
    width: 70%;
    min-height: 85%;
    margin-left: 30%;
    padding: 0 0 2.2em 0;
    top: 0;
    right: 0;
  }

  /*
  ==================================================================
  Home page styles (computer specific)
  ==================================================================
  */
  .mobile-image-scroll {
    display: none;
  }

  .home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 35px;
  }

  .home-nav .list-item {
    display: block;
    padding: 15px;
    border-top: 1px;
  }

  .home-nav .list-item a:hover {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .home-nav .list-item a:active {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  /*search styles*/
  div#search-wrapper {
    width: auto;
  }

  div#search.search {
    margin-left: 0.2em;
  }

  #search-wrapper {
    padding: 0.5em;
    border: 0.3em solid #aa14f0;
  }

  #searchform.search-item {
    width: 80%;
    padding: 0.3em;
  }

  input#searchbar.searchbar {
    width: 80%;
    padding: 0 0.4em;
    margin-left: 0;
  }

  .search-button img {
    height: 4em;
    width: 4em;
  }

  .searchbutton {
    padding: 0;
    margin-right: 0.05;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: fit-content;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 1em;
  }

  .mySlides {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(68, 68, 68);
    background-color: #000000;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    border: 0px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: rgba(190, 190, 190, 0.8);
  }

  /*home button styles*/
  button.search-word-button {
    padding-right: 1.2em;
    border: 10px;
    width: 100%;
    color: #585858;
    background: #000000;
  }

  button.search-word-button p {
    font-size: 1.5em;
    color: #585858;
  }

  button.search-word-button p:hover {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  button.search-word-button p:active {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  /*
  ==========================================================
  Gallery page styles (computer view specific)
  ==========================================================
  */
  .all-images {
    margin-top: 0;
  }

  /*
  ==========================================================
  About page styles (computer view specific)
  ==========================================================
  */

  .about-content .about-statement {
    padding-top: 0;
  }

  aside.container {
    margin-right: 2%;
  }

  aside.container img {
    max-width: 80%;
    max-height: 60%;
    width: "device-width";
    height: "425px";
  }

  /*nav styles*/
  .nav-list .list-item a:hover {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }

  .nav-list .list-item a:active {
    color: #dddddd;
    padding: 0 18px 1px;
    border-bottom: 0.5rem solid #0030ff;
    border-radius: 10%;
  }
}
